.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 30px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.post {
  background: #486581;
  box-shadow: 0 0 10px #102a43;
  transition: transform 100ms ease-in-out;
}

.post:hover {
  transform: scale(1.03);
}

.post img{
  width: 100%;
}

.post-content {
  padding: 30px;
}